<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/css/style.css">
    <title>Document</title>
</head>

<body>
    <!-- <script>
        const dashboard = JSON.parse('{{ dashboard | safe }}')
        // const queries = JSON.parse('{{ queries | safe }}')
    </script> -->
    <div id='app' />
    <script>
        const adminName = 'admin'
        const CONTRACTS_ID = {
            "SF139": 'ООО "Ингка Сентерс Рус Оперэйшн"',
            "KI036": 'ООО "Леруа Мерлен Восток"',
            "H6086": 'АО "Авиакомпания "Сибирь"',
            "VE722": 'ООО "Русфинанс Банк", ООО',
            "O6138": 'МЕТРО Кэш энд Керри, ООО',
            "LF414": 'ООО "БизнесБас", ООО',
            "P2172": 'ООО "Алькор и Ко"',
            "HU606": 'Кофе Сирена, ООО',
            "FE744": 'ОКТОБЛУ, ООО',
            "IL405": 'ПАО Росбанк',
        }
    </script>
    <script src="/static/js/main.js"></script>
</body>

</html>